.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input-label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.input-field {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
  outline: none;
  transition: 0.2s ease;
}

.input-field:focus {
  border-color: #76d7c4;
  box-shadow: 0px 0px 5px rgba(118, 215, 196, 0.5);
}
